{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}
    
    <h2>Liste des années</h2>

    <ul>
        {% for year in listYears %}
            <li>
                <a href="{{ path('view_year', {'id': year.id}) }}">
                    {{ year.title }}
                </a>
            </li>
        {% else %}
            <li>Pas (encore !) d'année</li>
        {% endfor %}
    </ul>

{% endblock %}
