{% trans_default_domain 'FOSUserBundle' %}

<form name="fos_user_resetting_form" method="POST"  action="{{- path('fos_user_resetting_reset', {'token': token}) -}}" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
</form>