{% extends "GSApiBundle::layout.html.twig" %}

{% block gs_body %}
    {{ parent() }}

    <h2>Editer un topic</h2>

    {{ include("GSApiBundle:Topic:form.html.twig") }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {
            $('.js-collection').collection();

            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });

            $('.js-timepicker').timepicker({
                timeFormat: 'HH:mm',
                interval: 15,
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });

            $('.js-select-multiple').select2();
        });
    </script>
{% endblock %}
