<h3>
    <font color="red">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    Pour ceux ayant déjà payé leur adhésion (lors de l'AG, avec le stage BTTR...),
    si l'adhésion apparait dans la liste des inscriptions à payer ci-dessus et
    afin d'éviter de la payer 2 fois
    merci d'envoyer un email à <a href="mailto:tresorier@grenobleswing.com">tresorier@grenobleswing.com</a>
    en précisant à quel moment vous avez payé votre adhésion.
    <br>
    Merci d'attendre que l'adhésion soit marquée comme payée sur
    la page "Gérer mes inscriptions" avant d'effectuer votre paiement.
    </font>
</h3>
<h3>
    <font color="red">
    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
    Pour les  tarifs étudiant et chômeur, merci d'envoyer un justificatif par mails à
    <a href="mailto:tresorier@grenobleswing.com">tresorier@grenobleswing.com</a>
    </font>
</h3>
{{ buttonGenerator.createButton1x(payment)|raw }}
{{ buttonGenerator.createButton2x(payment)|raw }}
{{ buttonGenerator.createButton3x(payment)|raw }}